@import "src/style/variable.scss";

.messages-layout {
  width: 700px;
  height: 800px;
  margin: 0 auto;
  border: 1px solid $black-color;
  box-shadow: 0 0 4px 1px $black-color;
  border-radius: 10px;
  &__header {
    border-bottom: 2px solid $black-color;
    padding: 5px;
    &-title {
      font-weight: 600;
    }
  }
  &__container {
    display: flex;
  }
}