$white-color: #ffffff;
$black-color: #000000;
$primary: #11998e;
$secondary: #38ef7d;
$gray: #9b9b9b;

$large-border: 20px;
$medium-border: 10px;
$small-border: 5px;

$large-text-size: 48px;
$preLarge-text-size: 40px;
$medium-text-size: 36px;
$preMedium-text-size: 30px;
$small-text-size: 24px;
